body {
    font-size: 1.2em;
  }
  
#app {
    width: 90%;
    margin: auto;
}
  
  
.grid {
    display: grid; 
    width: 900px;
    height: 3000px;
    margin: auto;
    grid-template: repeat(30, 1fr) / repeat(12, 1fr);
}
  
/* make the images stay in their parent containers */
img {
    max-width: 100%;
}

/* images have disappeared, hide the divs after a b c so i can focus on positioning those first. */

/*
.d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o {
    display: none;
}
*/

/* make all elements except images invisible. image elements are a, d, g, j, m. */ 
/*
.o {
    display: none;
  }
*/

/* set 1: repurposed living */

/* 
image a is visible. although the item starts by taking up one cell of the grid 
*/
.a {
    /* increase the number of cells image a takes up by specifying the area. 
    the order in which an element appears in html is irrelevant! I can just reposition them in css. */

    /* form is of two coordinates. grid-area: row start/ col start / row end / col end */
    grid-area: 1 / 3 / 5 / 13; /* 4 rows tall, 12 columns wide */
}
  
.b {
    /* position title to overlap with image */
    grid-area: 2 / 2 / 3 / 5;
}
  
.c {
    /* position subtitle to overlap with image */ 
    grid-area: 4 / 1 / 5 / 4;
}
  
/* set 2: angles */
  
.d {
    grid-row: 5 / 11;
    grid-column: 1 / 7;
}
  
.e {
    /* some of the heading is overlaid over the image. one row. start with two cols but need enough to display text properly. */
    grid-row: 7 / 8;
    grid-column: 5/ 10;
}
  
.f {
    /* if image is left, the subtitle is clear to the right of image. if image is right, subtitle starts on grid col 1. One row. Three cols*/
    grid-row: 9/ 10;
    grid-column: 7/ 10;
}
  
/* set 3: pattern play */
  
.g {
    grid-row: 11 / 15;
    grid-column: 3 / 13
}
  
.h {
    /* some of the heading is overlaid over the image. one row. start with two cols but need enough to display text properly. */
    grid-row: 12/ 13;
    grid-column: 2/ 5;
}
  
.i {
    /* if image is left, the subtitle is clear to the right of image. if image is right, subtitle starts on grid col 1. One row. Three cols*/
    grid-row: 14 / 15;
    grid-column: 1 / 4;
  
}
  
/* set 4: healing house */
.j {
    /* img using dimensions from d.*/
    grid-row: 15 / 21;
    grid-column: 1 / 7;
}
  
.k {
    /* some of the heading is overlaid over the image. one row. start with two cols but need enough to display text properly. */
    grid-area: 17 / 6 / 18 / 10;
    }
  
.l {
    /* if image is left, the subtitle is clear to the right of image. if image is right, subtitle starts on grid col 1. One row. Three cols*/
    grid-area: 19 / 7 / 20 / 9
}
  
/* set 5: curved perfection */
.m {
    /* img using dimensions from a. */
    grid-row: 21 / 25;
    grid-column: 3 / 13;
}
  
.n {
    /* some of the heading is overlaid over the image. one row. start with two cols but need enough to display text properly. */
    grid-area: 22 / 2 / 23 / 5;
}
.o {
    /* if image is left, the subtitle is clear to the right of image. if image is right, subtitle starts on grid col 1. One row. Three cols*/
    grid-area: 24 / 1 / 25 / 4;
}
  
.headLine {
    margin-top: 5vh;
    height: 20vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 10vh;
}
  
.box {
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
}
  
.title {
    font-weight: 700;
    font-size: 180%;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
  
/* media queries */ 
  
@media (min-width: 1150px) {
    #app {
      width: 80%;
      margin: auto;
    }
}
  
@media (max-width: 650px) {
    .grid {
  
    }
    
    .title {
      width: 65%;
      font-size: 120%;
    }
}